<div class="container">
    <h2>NewsApp</h2>
    <div class="search">
        <form method="GET" class="form-inline my-2 my-lg-0" action="/">
            <label for="phrase">Search</label>
            <input type="text" name="phrase" id="phrase">
            <input type="submit" value="Click">
        </form>
    </div>
    <div>
        <% if (topNews.length > 0) {%>
            <% topNews.forEach(news => { %>
                <a href="<%= news.url %>"><h2>Title: <%= news.title %> </h2></a>
                <a href="<%= news.url %>"><img src="<%= news.urlToImage %> " alt="" style="width:500px; height:500;"></a>
                <p><%= news.description %> </p>
            <% }) %> 
        <% } else { %>
            <p>Opps! No such result was found. Try Again....</p> 
        <% } %>  
    </div>
</div>
