<div class="container">
    <div class="row" id="row">
        <% let counter = 0 %>
        <% if (topNews.length > 0) {%>
            <% topNews.forEach(news => { %>
                <% if(counter != 0 && counter % 3 == 0) { %>
                    <div class="row" id="row">
                <% } %>
                <div class="col-12 col-md-4 post">
                    <div class="imgicon">
                        <img src="<%= news.urlToImage %> " alt="images">
                    <form method="POST" action="/bookmarks">
                        <input hidden type="text" name="title" value="<%= news.title %> ">
                        <input hidden type="text" name="source" value="<%= news.source.name %> ">
                        <input hidden type="text" name="date" value="<%= news.publishedAt %> ">
                        <input hidden type="text" name="articleLink" value="<%= news.url %> ">
                        <input hidden type="text" name="imageLink" value="<%= news.urlToImage %> ">
                        <input hidden type="text" name="author" value="<%= news.author %> ">
                        <input hidden type="text" name="description" value="<%= news.description %> ">
                        <input hidden type="text" name="userId" value="<%= currentUser.id %> ">
                        <button class="bookicon" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </button>
                    </form>
                    </div>
                    <div class="news-info">
                        <p class="source"> <%= news.source.name %> </p>
                        <p class= "date"> <%= news.publishedAt %> </p>
                        <a class="title" href="<%= news.url %>"> <%= news.title.toUpperCase() %>  </a>
                    </div>
                    
                </div>
                <% counter++ %>
            <% }) %> 
        <% } else { %>
            <p>Opps! No such result was found. Try Again....</p>
            <iframe src="https://giphy.com/embed/9J7tdYltWyXIY" width="480" height="404"></iframe>
        <% } %>  
    </div>
</div>
